/* This is a common css file used across all project in the portfolio */
/* Body style */
body {
    margin: 0;
    padding: 0;
    background: #F0FFFF;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header style */
h1 {
    text-align: center;
}

/* paragraphstyle */
p {
    float: left;
    font-size: 20px;
    color: black;
    text-align: center;
}

/* Navigation Bar style */
.navbar {
    position: relative;
    overflow: hidden;
    background-color: #333;
}

.navbar-centered a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Eye movement components style */ 
#eye_body {
    background: #6495ED;
}

.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.eye {
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.ball {
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* control the image on the home page */
.img-align-center {
    display: block;
    margin: 0px auto;
}

.img-medium {
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 150px;
}

/* Control the display of map object */
#map {
    float: left;
    display: block;
    margin: 0px auto;
    width: 1024px;
    height: 640px;
}

/* Carousel Image style */
.carousel-img {
    width: 1700px;
    height: 250px;
}
